*{
    margin: 0px;
    padding: 0px;
    /* border: 1px solid rgb(29, 25, 214); */
}
#header{
    height: 50px;
    width: 100%;
    background-color: lightslategrey;
    align-items: center;
}

#nav{
   
    padding: 20px;
   background-color: rgb(216, 218, 129);
    height: 40%;
    width: 100%;
} 
#profile{
    height: 25%;
    width: 21%;
    border-radius:50%;
    margin: 20px;
    
}
div#pimg {
    display: inline-block;
    width: 50%;
}
#fav_icon{
   position: fixed;
   top: 10;
   right: 10px;
   display: inline-block;
   margin-left: 100px; 
   
}

.favi{
    padding: 5px;
    border-radius: 8px;
    color: chocolate;
    background-color: rgb(15, 12, 12);
    text-decoration: none;
    
    
}
.favi:hover:hover{
    color: rgb(251, 252, 251);
    transition: .6.0s;
}

#midsection{
    height: 250px;
    width: 100%;
    background-color: aquamarine;
}

                                            /*mid section */

.mdiv{ 
    background-color: rgb(43, 206, 37);
    display: inline;
    position: absolute;
    height: 250px;
    width: 25%;
    margin-left: 5px;
    margin-right: 5px;
}

#mdiv2{
    right: 25px;
}
#mdiv3{
    left: 50px;
}